table {
    color: darkmagenta;
    width: 50%;
}
tr {
    color: chocolate;
}
td {
    color: darkgreen;
    border: 1px solid chocolate;
    width: 200px;
}

th {
    color: darkmagenta;
    border: 1px solid chocolate;
    width: 200px;
}