p {
    font-family: 'Merienda One', cursive; 
    font-size: 20px;
    font-weight: 1000;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    margin-top: -20px;
    border-bottom: 10px solid black;
}

img {
    width: 100px;
    margin-top: 5px;
}

#in {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 10px #888888;
    margin-left: 20px;
    margin-top: 15px;
}

nav {
    border-bottom: 5px solid green;
    box-shadow: 1px 1px 14px 0px #888888;
    margin: -15px -5px 5px -5px;
    position: sticky;
    top: 0;
    background-color: burlywood;
}

li {
    display: inline-block;
    position: relative;
    left: 1010px;
    margin-left: 30px;   
    font-family: 'Merienda One', cursive; 

}

h1{
    font-family: 'Fredoka One', cursive;
    font-weight: 200;
    font-size: 70px;
    color: rgb(6, 87, 6);
    
}

body {
    background-image: url(https://i.pinimg.com/originals/8d/df/85/8ddf85d5bbb5c46b5a176f925018f28f.jpg);
}
#change {
    border: 1px solid black;
}